.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, minmax(5rem, 1fr) [col-start]);
  grid-template-areas:
    'text scrub . cart cart cart cart'
    'prod1 prod1 . prod2 prod2 prod2 prod2'
    '. . prod3 prod3 prod3 prod4 prod4'
    'prod5 prod5 . . . . .'
    'special special special special special special special';
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: column;
  grid-gap: 1rem;
  max-width: 1200px;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .App {
    grid-template-areas:
      'text scrub . cart cart cart cart special'
      'prod1 prod1 . prod2 prod2 prod2 prod2 special'
      '. . prod3 prod3 prod3 prod4 prod4 special'
      'prod5 prod5 . . . . . special'
      'logo1 logo1 . logo2 logo2 . . special';
    max-width: 1600px;
  }
}

@media (max-width: 850px) {
  .App {
    grid-template-columns: repeat(6, minmax(5rem, 1fr) [col-start]);
    grid-template-areas:
      'text scrub . cart cart cart'
      'prod1 prod1 prod1 prod2 prod2 prod2'
      'prod3 prod3 prod3 prod2 prod2 prod2'
      '. . . prod4 prod4 prod4'
      'prod5 prod5 prod5 . . . '
      'special special special special special special';
  }
}

@media (max-width: 550px) {
  .App {
    grid-gap: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: repeat(4, minmax(5rem, 1fr));
    grid-auto-rows: auto;
    grid-template-areas:
      'text scrub . .'
      'cart cart cart cart'
      'prod1 prod1 prod2 prod2'
      'prod3 prod3 prod3 prod3'
      'prod4 prod4 prod5 prod5'
      'special special special special'
      'special special special special';
  }
}

@font-face {
  font-family: 'Monarch';
  src: url('./MONARCH_1.1.woff');
}

@font-face {
  font-family: 'Sporting';
  src: url('./sporting_grotesque_gras.woff');
}

@font-face {
  font-family: 'Sporting-Normal';
  src: url('./sporting_grotesque_normal.woff');
}

@font-face {
  font-family: 'Junicode';
  src: url('./Junicode.woff');
}
